<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Atum.Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><applicationSettings>
        <Atum.Studio.Properties.Settings>
            <setting name="SlicerNormalColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FaceFacingDown" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="SlicerBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SceneGroundColor" serializeAs="String">
                <value>57, 64, 69</value>
            </setting>
            <setting name="FaceHorizontal" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DefaultSupportColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="DefaultSurfaceSupportColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="DefaultSurfaceSupportFaceSelectedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultSurfaceSupportFaceColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SceneBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MaterialCatalogURL" serializeAs="String">
                <value>https://atum3d.sharepoint.com/_layouts/15/guestaccess.aspx?docid=0c3b5df5b855141b9b5437fc55aa131ad&amp;authkey=AVIIo5Tu16DtSOyzBCwbiFA</value>
            </setting>
            <setting name="SoftwareUpdate_Restart_Text" serializeAs="String">
                <value>atum3D Operator Station needs to be closed to apply this update.

Are you sure to continue?</value>
            </setting>
            <setting name="RotationGizmoAngleSelectionOverlay" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="SceneControlFontColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="atum3D_MaterialCatalog_AtumVxx" serializeAs="String">
                <value>https://atum3d.sharepoint.com/_layouts/15/guestaccess.aspx?docid=0c3b5df5b855141b9b5437fc55aa131ad&amp;authkey=AVIIo5Tu16DtSOyzBCwbiFA</value>
            </setting>
            <setting name="SceneGroundFrontTextColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SceneViewMAGSBlendFactor" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="SoftwareUpdate_Restart_Caption_Text" serializeAs="String">
                <value>Close to apply the update.</value>
            </setting>
        </Atum.Studio.Properties.Settings>
    </applicationSettings>
</configuration>
